<div class="column {{class}}">
    <div class="column__header"></div>
    <div class="column__content">
        {{#if content}}
        {{> users/users}}
        {{else}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iusto perspiciatis unde voluptatem. Ad aliquid,
            asperiores consequatur consequuntur eius excepturi, nobis nostrum recusandae sequi, sit soluta sunt vero
            vitae voluptates!</p>
        <p>A aspernatur consequatur cum dicta dolor dolore doloremque est et excepturi expedita fugit hic impedit
            inventore libero obcaecati odit, officia omnis porro praesentium provident quam quia quis quisquam rerum
            vel.</p>
        <p>A, alias aliquid amet commodi consequuntur delectus deleniti dignissimos eaque eos eum ex illum ipsum iure
            odit possimus provident, quis quisquam quos recusandae repellat saepe sequi sint vel vero voluptatibus.</p>
        <p>A ab ad at atque blanditiis eos explicabo fuga fugit, illo in inventore laboriosam laborum, nam nisi omnis
            pariatur quasi rem repellendus saepe sit. Et illum laboriosam nulla rem sint.</p>
        {{/if}}
    </div>
    <div class="column__footer"></div>
</div>
