<div class="users">
    <div class="users__item users__item--top">
        <div class="users__avatar"></div>
        <div class="users__name">Сергей Щерба</div>
    </div>
    <ul class="users__list">
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Константин Константинопольский</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
        <li class="users__item">
            <div class="users__avatar"></div>
            <div class="users__name">Name Surname</div>
        </li>
    </ul>
</div>
